<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>FuturePerformanceTests</key>
		<dict>
			<key>test1000Zip1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10758</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceCreateAndDestroy100000Futures()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0306</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testPerformanceFullfillAndRunContinuations10000x2x1Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0485</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testPerformanceSetup100000xflatMap()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12136</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceSetup100000xmap()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10629</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceSetup10000x2x1Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0235</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testPerformanceSetup10000xflatMap()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceSetup10000xmap()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011811</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.082</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000Continuations3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.083117</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000ContinuationsSerial1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.083016</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000ContinuationsSerial2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.082504</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000ContinuationsSerial3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.082462</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000x1x1Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.040582</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000x1x2Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.092393</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000x1x3Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15287</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000x1x4Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.20544</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000x1x8Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.43198</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000x2x1Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.07315</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000x4x1Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13889</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testPerformanceSetupAndFire10000x8x1Continuations()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.24988</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testSome()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.598e-07</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Oct 2015 14:48:19</string>
				</dict>
			</dict>
			<key>testZip1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11067</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
