<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>8B49CFB3-DCE8-42EF-B668-2E037F196A1B</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>100</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>Intel Core i7</string>
				<key>cpuSpeedInMHz</key>
				<integer>4000</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>8</integer>
				<key>modelCode</key>
				<string>iMac15,1</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>4</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>x86_64</string>
		</dict>
		<key>EF5957C3-7F10-4F6B-884C-3C798DCE5247</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>1064</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>Intel Core 2 Duo</string>
				<key>cpuSpeedInMHz</key>
				<integer>2530</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>2</integer>
				<key>modelCode</key>
				<string>MacBookPro5,1</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>2</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>x86_64</string>
		</dict>
	</dict>
</dict>
</plist>
